.wallpaper_settings {
	background-color: white;

	height: 100%;
	overflow: hidden;
}

.preview {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 60vh;
	overflow: hidden;
}

.preview_messages {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 1;
	top: 0;
	left: 0;
}

.wallpaper_image {
	height: 100%;
	width: 100%;
	background-position: center;
	background-attachment: fixed;
	background-size: 100vw auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
