:root {
	--bubbles-background: #e2f7ff;
}

.room_wrap {
	display: flex;
	align-items: end;
	background-color: #97beeb;
}

.info_date {
	padding: 10px;
	display: flex;
	color: #6a6a6a;
	font-size: 14px;

	.date {
		flex-grow: 1;
		flex-shrink: 1;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.icon {
		flex-grow: 0;
		flex-shrink: 0;
	}
}

.upload_image {
	position: fixed;
	height: 100vh;
	width: 100vw;
	bottom: 0;
	left: 0;

	overflow: hidden;

	display: flex;
	flex-direction: column;

	> img,
	video {
		position: absolute;
		height: 100vh;
		width: 100vw;
		top: 0;
		left: 0;
		object-fit: cover;
		z-index: -1;
	}

	background-color: black;
}

.caption_softkeys {
	color: white;
	background-color: rgba(0, 0, 0, 0.36);
	border-top: none;

	padding: 0 5px;
	flex-shrink: 0;

	height: 30px;

	display: flex;

	align-items: center;

	white-space: nowrap;

	font-size: 14px;

	.emoji {
		height: 18px;
		width: 18px;
		fill: white;
	}

	.options {
		height: 20px;
		width: 20px;
	}

	> div {
		display: flex;

		align-items: center;

		width: 100%;

		font-weight: 600;

		&:nth-child(2) {
			text-transform: uppercase;

			justify-content: center;

			letter-spacing: -0.4px;

			font-weight: 700;
		}

		&:last-child {
			justify-content: flex-end;
		}
	}
}

.caption_textbox {
	color: white;

	margin-top: auto;

	min-width: 0;
	width: 100%;

	font-size: 1rem;
	line-height: 1.34em;
	background-color: rgba(0, 0, 0, 0.36);

	border: none;

	border-radius: 0;
	padding: 8px 10px;
}

.spinner {
	height: 40px;
	width: 40px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.view_message_info {
	height: calc(100vh - 30px);
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	overflow: auto;

	.container {
		background-color: #97beeb;
		padding-top: 4px;
		padding-bottom: 4px;

		.message_inner {
			> .photo,
			> .video {
				height: unset !important;

				max-height: unset !important;
				min-height: unset !important;

				img,
				video {
					height: unset !important;
					max-width: 80vw;
				}

				& + .text_container {
					margin-top: 0 !important;
				}
			}
		}

		:global(.focusable):focus {
			outline: solid 3px var(--accent) !important;
		}
	}
}

.media_checks {
	position: absolute;
	bottom: 0;
	right: 0;
}

.voice {
	width: 80vw;
	padding: 4px;
	position: relative;
	display: flex;
	align-items: center;

	.waveform {
		margin-right: auto;
		margin-left: -10px;

		.wavy {
			height: 17px;
			width: 102px;
			display: flex;
			align-items: center;
		}

		.wave {
			width: 2px;
			margin-right: 1.5px;
			background-color: #8c8c8c;
			overflow: hidden;
		}

		.time {
			position: absolute;
			bottom: 1px;
			font-size: 12px;
			color: #8c8c8c;
		}
	}

	.photo {
		width: 40px;
		height: 40px;
		overflow: hidden;
		position: relative;
		min-height: unset;
		border-radius: 40px;
	}

	.icon {
		width: 32px;
		height: 32px;
		flex-grow: 0;
		flex-shrink: 0;
		margin-right: 12px;
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		fill: #8c8c8c;
	}

	.speed {
		position: absolute;
		height: 24px;
		width: 100%;
		color: white;
		font-weight: 600;
		font-size: 12px;
		text-align: center;
		background-color: #8c8c8c;
		line-height: 24px;
		border-radius: 20px;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}

.location {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 160px;
	width: 192px;

	.pin {
		width: 21px;
		height: 30px;
		background-image: url(../assets/map_pin.png);
		background-size: contain;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		top: 50px;
	}
}

.photo {
	position: relative;
	max-height: 50vh;
	min-height: 50px;
	overflow: hidden;
	border-radius: 4px;

	height: 256px;

	img,
	video {
		display: block;

		object-position: center;
		object-fit: cover;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.thumb {
		filter: blur(10px);
	}
}

.photo + .text_container {
	margin-top: 4px;
	.text_wrap {
		max-height: 25px !important;
	}
}

%gif {
	position: absolute;
	width: 40px;
	height: 40px;

	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	overflow: hidden;
	text-align: center;
	line-height: 40px;

	color: white;

	margin: auto;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.video {
	@extend .photo;

	position: relative;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	.gif,
	.play {
		@extend %gif;
	}

	.play {
		padding: 10px;
		fill: white;
		svg {
			display: block;
		}
	}

	.time {
		color: white;

		left: 0;
		padding: 3px 10px 0 5px;
		border-top-right-radius: 20px;
		background: linear-gradient(
			to top right,
			#000,
			rgba(0, 0, 0, 0.95932) 5.79%,
			rgba(0, 0, 0, 0.8912) 10.88%,
			rgba(0, 0, 0, 0.80156) 15.63%,
			rgba(0, 0, 0, 0.6963) 20.37%,
			rgba(0, 0, 0, 0.58131) 25.46%,
			rgba(0, 0, 0, 0.4625) 31.25%,
			rgba(0, 0, 0, 0.34578) 38.08%,
			rgba(0, 0, 0, 0.23704) 46.3%,
			rgba(0, 0, 0, 0.14219) 56.25%,
			rgba(0, 0, 0, 0.06713) 68.29%,
			rgba(0, 0, 0, 0.01777) 82.75%,
			transparent
		);
		position: absolute;
		bottom: 0;
		color: white;
		font-size: 14px;
		font-weight: 600;

		svg {
			float: left;
			margin-right: 3px;
			padding-top: 3px;
			fill: white;
			width: 14px;
		}
	}
}

.isReply {
	.photo,
	.video {
		height: 120px;
	}
}

.header {
	background-color: var(--accent);
	padding: 0 10px;
	text-align: center;

	border-bottom: solid 1px rgba(0, 0, 0, 0.1);

	height: 42px;

	color: white;
	line-height: 22.4px;
	flex: none;

	display: flex;
	height: 42px;

	flex-direction: row;

	align-items: center;

	width: 100%;

	.avatar {
		border-radius: 50%;
		width: 32px;
		height: 32px;
		flex: none;
		position: relative;
		overflow: hidden;
	}

	.details {
		padding-left: 8px;

		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		overflow: hidden;

		white-space: nowrap;

		.top,
		.bottom {
			display: flex;
			width: 100%;
			align-items: center;

			span {
				width: 100%;
				overflow: hidden;
				line-height: 1.5;

				text-align: left;

				text-overflow: ellipsis;
			}
		}
		.top {
			flex: 1;
			line-height: 1;
			font-size: 16px;
		}

		.bottom {
			font-size: 12px;
			line-height: 12px;
		}
	}
}

.option_item {
	height: 52px;
	line-height: 32px;
}
.option_item:focus {
	background-color: var(--accent-dark);
	color: white;
}

.room {
	max-height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: #97beeb;

	scrollbar-width: none;

	&:hover {
		overflow: auto;
	}
}

.message {
	padding: 2px 8px;
	// margin: 2px 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	flex: none;

	hyphens: auto;
	word-wrap: break-word;

	&:focus {
		background-color: rgba(69, 91, 100, 0.4);
	}
}

.action_message {
	@extend .message;
	margin: 2px 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.action_message_inner {
	padding: 8px;
	background-color: rgb(214, 240, 252);
	text-align: center;
	padding: 5px 10px;
	border-radius: 8px;
	font-size: 12px;
	color: #323232;

	max-width: calc(100vw - 2 * 8px);

	position: relative;

	overflow: hidden;

	span {
		// white-space: nowrap;
		// text-overflow: ellipsis;
		width: 100%;
		overflow: hidden;
		float: left;
	}
}

.message_inner {
	padding: 4px;
	background-color: white;
	border-radius: 8px;
	align-self: flex-start;
	position: relative;
	max-width: 85vw;

	.username {
		background-color: white;
	}

	&.outgoing {
		align-self: flex-end;
		background-color: var(--bubbles-background);
		.username {
			background-color: var(--bubbles-background);
		}
	}

	&.isReply {
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 76px;
			top: 0;
			left: 0;
			border-top-right-radius: 8px;
			background-color: white;
			z-index: 0;
		}

		&.outgoing {
			&::before {
				background-color: var(--bubbles-background);
				border-radius: 8px;
				border-top-right-radius: 0;
			}
		}

		.username {
			z-index: 2;
			position: relative;
		}
		.reply {
			z-index: 2;
			position: relative;
			margin-bottom: 4px;
		}

		.text_container {
			padding-top: 0;
		}

		.text_wrap {
			max-height: 130px;
		}
	}

	&:not(.showUsername) {
		&::before {
			height: 60px;
		}
		&.isSticker {
			.reply {
				margin-bottom: 8px;
			}
		}
	}

	&.isSticker {
		&:not(.isReply) {
			padding-left: 0;
			padding-right: 0;
			padding-top: 0;
			margin-top: 2px;
		}

		background-color: transparent;

		&:not(.isReply) {
			.username {
				padding: 4px;
				padding-right: 50px;
				border-radius: 8px;
				margin-bottom: 4px;
				// border: white solid 4px;
				// margin-left: -4px;
				// margin-top: -4px;
			}
		}
	}

	&:not(.tail).isReply {
		&::before {
			border-radius: 8px;
		}
	}
}

.text_container {
	padding: 4px;
	max-width: 80vw;
}

.text_wrap {
	max-height: 148px;
	overflow: hidden;

	position: relative;

	.text {
		direction: auto;
		white-space: pre-wrap;
	}

	.more_container {
		left: 0;
		right: 0;
		display: flex;
		position: absolute;
		bottom: 0;

		.more_fade {
			background: linear-gradient(90deg, transparent, rgb(255, 255, 255));
			flex: auto;
		}

		.more_button {
			flex: none;
			padding-left: 15px;
			align-self: stretch;
			background: white;
			color: var(--accent);
		}
	}
}

.outgoing {
	.more_button {
		background: var(--bubbles-background) !important;
	}

	.more_fade {
		background: linear-gradient(90deg, transparent, var(--bubbles-background)) !important;
	}
}

.padTop {
	margin-top: 2px;
}

.tail::after {
	content: " ";
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	border-style: solid;
	border-width: 6px 4px;
}

.tail.outgoing {
	border-top-right-radius: 0;

	&::after {
		right: -7px;

		border-left-color: var(--bubbles-background);
		border-bottom-color: transparent;
		border-right-color: transparent;
		border-top-color: var(--bubbles-background);
		border-top-right-radius: 3px 8px;
	}
}

.tail:not(.outgoing) {
	border-top-left-radius: 0;

	&::after {
		left: -7px;
		border-left-color: transparent;
		border-bottom-color: transparent;
		border-right-color: white;
		border-top-color: white;
		border-top-left-radius: 3px 8px;
	}
}

.username {
	color: var(--accent);
}

.username_inner {
	font-weight: 600;

	overflow: hidden;
	text-overflow: ellipsis;

	font-size: 12px;
	hyphens: none;
	white-space: pre;
	word-wrap: normal;
}

.reply {
	background-color: #eaf3fb;
	border-radius: 8px;

	display: flex;
	overflow: hidden;
	margin-top: 4px;

	width: 80vw;
}

.outgoing {
	.reply {
		background-color: #d0f0fc !important;
	}
}

.reply_border {
	background-color: var(--accent);

	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;

	flex-grow: 0;
	flex-shrink: 0;
	width: 5px;
	align-self: stretch;
}

.reply_details {
	padding: 5px;

	flex-grow: 1;
	flex-shrink: 1;
	align-self: center;
	color: rgba(0, 0, 0, 0.6);
	overflow: hidden;
}

.reply_username {
	color: var(--accent);
	font-weight: 600;

	overflow: hidden;
	text-overflow: ellipsis;

	font-size: 12px;

	white-space: nowrap;
}

.reply_text {
	overflow: hidden;
	text-overflow: ellipsis;

	font-size: 14px;

	font-weight: 400;

	white-space: nowrap;
}

.textarea_container {
	padding: 4px 5px;

	&.focused {
		background-color: var(--accent);
	}

	margin-top: 4px;
}

span.extra_width {
	display: inline-block;
}

.message_info {
	display: flex;
	position: absolute;
	bottom: 4px;
	right: 4px;

	.edited {
		font-size: 12px;
		font-style: italic;
		margin-right: 3px;
		color: rgb(112, 117, 121);
	}
}

.info_check {
	color: var(--accent);
}

.outgoing {
	.message_info .edited {
		color: var(--accent);
	}
}

.sticker {
	width: 128px;
	height: 128px;
	position: relative;

	background-size: contain;
	background-repeat: no-repeat;

	font-size: 15px;

	> .svg {
		display: flex;

		align-content: center;
		align-items: center;

		svg {
			display: block;
		}
	}

	> img,
	> canvas,
	> video,
	> .svg {
		width: 128px;
		height: 128px;
		object-fit: contain;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.floating_textbox {
	@extend .textarea_container;

	flex: none;
	margin-top: 0;
	padding-top: 0;

	.reply {
		.reply_border {
			background-color: var(--border);
		}

		width: 228px;
		margin-bottom: 4px;
		background-color: #eaf3fb;
	}
}
