.content {
	background-color: rgb(255, 255, 255);
	color: rgb(50, 50, 50);
	word-wrap: break-word;
	white-space: pre-line;
	padding: 10px;
	overflow: auto;

	font-size: 17px;
	font-weight: 400;

	line-height: normal;

	input {
		&:focus {
			box-shadow: inset 0 -1px 0 #873eff;
			border-color: #873eff;
			outline: none;
		}

		resize: none;
		font-size: 16px;
		border: 1px solid #8c8c8c;
		border-radius: 2px;
		color: #323232;
		background: #fff;
		unicode-bidi: -moz-plaintext;
		font-variant-numeric: nominal;
		-moz-user-select: text;

		display: block;
		width: 100%;
		height: 36px;
		line-height: 36px;
		padding: 0 10px;
	}
}

.softkeys {
	> div {
		div {
			font-weight: 600 !important;
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			line-height: 30px;
		}

		div:nth-child(2) {
			font-weight: 700 !important;
			font-size: 16px !important;
		}
	}
}

.select {
	background-color: white;
	overflow: auto;

	.item {
		color: rgb(50, 50, 50);

		position: relative;
		font-size: 17px;
		height: 48px;
		line-height: 48px;

		padding: 0 5px 0 10px;

		&::after {
			content: "radio-off";
			position: absolute;
			font-family: "gaia-icons";

			font-size: 32px;
			top: 7px;
			right: 5px;
			height: 35px;
			width: 32px;
			line-height: 35px;
			color: #8c8c8c;
		}

		&.selected::after {
			content: "radio-on";
			color: rgb(128, 0, 255);
		}

		&:focus {
			background-color: rgb(128, 0, 255);

			color: white;

			&::after {
				color: white;
			}
		}
	}
}
