.container {
	width: 100%;
	position: fixed;
	bottom: 30px;
	left: 0;
	z-index: 999999;
	max-height: calc(100vh - 30px - 20px - 24px);

	&.select {
		max-height: calc(100vh - 30px - 5px);
	}

	display: flex;

	flex-direction: column;
}

.wrap {
	height: 100vh;
	width: 100vw;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 99999;
	background-color: rgba(0, 0, 0, 0.85);

	&,
	* {
		font-family: "Open Sans";
	}
}
