.country {
	height: 44.5px;
	padding: 10px;
	background-color: white;

	> div {
		overflow: hidden;
		white-space: nowrap;
		flex: 1;
		text-overflow: ellipsis;
	}

	.code {
		flex: none;
		margin-left: 10px;
		color: #8c8c8c;
	}

	&:focus {
		color: white;

		.code {
			color: #fff;
		}
		background-color: var(--accent);
	}

	display: flex;
}

.noresult {
	text-align: center;
	padding: 20px;
}
