.header {
	background-color: #ccc;
	text-align: center;
	padding: 5px 10px;
}

.wrap {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: white;
}

.content {
	flex: auto;
}

.background {
	background-color: rgba(0, 0, 0, 0.75);
	height: 100%;
	width: 100%;
}
