.progressRing circle {
	stroke: currentColor;
	fill: none;
	stroke-width: 2px;
	stroke-linecap: round;
	transform-origin: 50% 50%;
	transition: all 0.2s ease-in-out 0s;
	animation: 2s linear 0s infinite normal none running spin-infinite;
}

@keyframes spin-infinite {
	0% {
		stroke-dasharray: 0.01px, 43.97px;
		transform: rotate3d(0, 0, 1, 0deg);
	}
	50% {
		stroke-dasharray: 21.99px, 21.99px;
		transform: rotate3d(0, 0, 1, 450deg);
	}
	100% {
		stroke-dasharray: 0.01px, 43.97px;
		transform: rotate3d(0, 0, 1, 1080deg);
	}
}
