.softkeys {
	height: 30px;
	width: 100vw;
	position: fixed;
	bottom: 0;
	left: 0;

	transition: color 0.3s linear, background-color 0.3s linear;

	font-size: 17px;

	:global(.tgico) {
		font-size: 18px;
	}

	.previous,
	.current {
		height: 30px;
		width: 100vw;
		position: absolute;
		top: 0;
		left: 0;

		background-color: rgb(204, 204, 204);

		display: flex;

		div {
			padding: 5px;
			width: 33.33%;
			font-size: 14px;
			font-weight: 500;
		}
		div:nth-child(2) {
			text-align: center;
			font-weight: 800;
			text-transform: uppercase;
		}
		div:nth-child(3) {
			text-align: right;
			:global(.tgico) {
				float: right;
			}
		}
	}
}

@keyframes disappear {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.previous {
	z-index: 2;
	animation: disappear 200ms forwards ease-in-out;
}

.loading {
	color: #6a6a6a;
	background-color: #ccc;
	border-top: 1px solid #fff;
}

.black {
	background-color: black;
	color: white;
}
