.toast {
	background: #333333;
	padding: 10px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	color: white;
	text-align: center;
	z-index: 999;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
	transform: translate3d(0, -100%, 0);
	opacity: 0;
	transition: opacity 0.3s ease-out, transform 0.3s ease-out;

	font-size: 17px;
	font-weight: 300;
	line-height: normal;

	&.displayed {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
